loguru
mkdocs
pip
python-dotenv
ruff
tqdm
typer
langchain
langchain-community
langchain-core
langchain-openai
langchain-google-genai
langchain-experimental
streamlit
numpy
pandas
matplotlib
seaborn
tabulate
jupyterlab
tiktoken
pygwalker
